<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="theme.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="jquery-3.3.1.js"></script>
    <!-- Bootstrap JS -->
    <script src="bootstrap-4.0.0/dist/js/bootstrap.min.js" ></script>
    <title>qiyue</title>
  </head>
  <body>
    <div>
		<h1 th:text="${hello}"></h1>
	</div>

  </body>
</html>